.productWindow {
  display: inline-block;
  align-items: center;
  justify-content: center;
}

.windows {
  width: 220px;
  height: 240px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.65);
  margin: 40px 40px 90px;
}

.windows > img {
  width: 161px;
  height: 160px;
  flex-shrink: 0;
  margin: 20px auto;
  padding-top: 20px;
}

.windows > p:first-child {
  font-size: 14px;
}

.windows > p:nth-child(3) {
  font-weight: 700;
  font-size: 14px;
  margin: 0 0 0 70%;
}
