.app-footer {
  height: 150px;
  width: 1440px;
  color: #000;
  font-family: Merienda;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: block;
  margin: 0 auto;
}
