body {
  background: url("../../images/bgimage.jpg") no-repeat top center;
}

.bgimage {
  width: 1439px;
  height: 959px;
  flex-shrink: 0;
}

.coffee_beans {
  width: 35px;
  height: 35px;
  flex-shrink: 0;
  margin-left: 75px;
  margin-top: 20px;
}

.coffee_beans_3 {
  width: 35px;
  height: 35px;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
}

.App-header h1,
h2,
h3 {
  font-family: Merienda;
  color: #fff;
  font-style: normal;
  line-height: normal;
}

h1,
h2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 40px;
  font-weight: 700;
  margin: 100px auto 0 auto;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  padding-right: 25px;
  display: inline-block;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 12px;
  font-weight: 400;
}

.more_button {
  font-size: 14px;
  color: #fff;
  margin-left: 42%;
  background-color: transparent;
  height: 40px;
  width: 140px;
  border: 1px solid #fff;
  border-radius: 5px;
}

.left-line {
  width: 60px;
  height: 1px;
  background-color: #fff;
  margin: 30px 30px 20px;
  display: inline-block;
}

.right-line {
  width: 60px;
  height: 1px;
  background-color: #fff;
  margin: 30px 30px 20px;
  margin-left: 40%;
  display: inline-block;
}
