.ourBest {
  display: block;
  width: 95%;
  height: 100%;
  font-family: Merienda;
  margin: 0 auto;
  color: #000;
  font-style: normal;
  line-height: normal;
  text-align: center;
  background: url("/src/images/bgiOurBest.jpg") no-repeat center center;
  background-size: cover;
}

.ourBest > h2 {
  font-weight: 400;
  font-size: 24px;
  margin: 0 auto;
  padding-top: 80px;
}

.slick-prev {
  left: -52px !important;
}

.slick-next:before,
.slick-prev:before {
  content: "" !important;
}

.slick-next:active,
.slick-prev:active {
  scale: 0.9;
}

.next-slick-arrow,
.prev-slick-arrow {
  color: #000000;
  font-size: 45px;
}

div.slick-arrow.slick-prev {
  left: 80px !important;
  top: 150px !important;
  z-index: 1;
}

div.slick-arrow.slick-next {
  right: 100px !important;
  top: 150px !important;
  z-index: 1;
}
