.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin: 80px auto;
  width: 50%;
  text-align: center;
}

.container > p:last-child {
  display: block;
  width: 240px;
  height: 1px;
  background-color: black;
  margin: 50px 65%;
}

.second_block {
  width: 346px;
  height: 232px;
}

.second_block > h2,
.second_block > p {
  color: #000;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.second_block > h2 {
  font-size: 24px;
}

.second_block > p {
  font-size: 14px;
}

.first_block > img {
  border-radius: 5px;
}
