.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  text-align: center;
  margin: 80px 600px;
  /* margin: 50px 0px; */
  /* also fix it */
}

.container > p:last-child {
  width: 240px;
  height: 1px;
  background-color: black;
  margin: 40px 65% 0;
  /* fix margin later */
}

.second_block {
  width: 346px;
  height: 232px;
  text-align: center;
}

.second_block > h2,
.second_block > p {
  color: #000;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.second_block > h2 {
  font-size: 24px;
}

.second_block > p {
  font-size: 14px;
}

.first_block > img {
  border-radius: 5px;
  /* margin-left: 150px; */
  text-align: center;
}
